body {
    box-sizing: border-box;
    background: white;
}

.calc {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    max-width: 50%;
    min-width: -moz-min-content;
}

.screen {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
    width: 100%;
    background-color: black;
}

.keys {
    width: 25%;
    border: 1px solid black;
    color: inherit;

}

.keys.btn {
    height: 80px;
    font-size: x-large;
    background: darkgray;
    color: 
}

.keys.btn.fn {
    background: #FEDD00;  
    background: #ff9800;                        //#FA7268
    color: #f9f8fb;  
}

.clr {
    width: 50%;
}

.keys:nth-last-child(2) {
    width: 75%;
}

button:hover {
    cursor: pointer;
    background: black;
}

.keys.btn:hover {
  background: whitesmoke;
}

.keys.btn.fn:hover {
  background: #ffb03a;
}
